<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Answer a question</title>
    <style type=text/css> 
		.topdiv
		{
			margin-top: 10px;
			position: fixed;
			top:0;
			right:0;
			width: 25%;
			color: darkblue;
			font-family: monospace; 
			font-weight: bold;
		}
		.rightdiv 
		{
			position: fixed;
			top: 100px;
			right: 0;
			width: 25%; 
			color: brown;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold; 
		} 
		.topdiv,.rightdiv{ 
		padding : 1%;  
		background-color: white; 
		border: solid black; 
		} 
	</style> 
</head>
<body bgcolor="teal">
    <h2>The question you want to answer is:</h2>
    <h1>{{question.content}}</h1>
	<form method="POST">
        {% csrf_token %}
		<textarea name="answer" rows="12" cols="100" spellcheck="true" placeholder="write your answer here"></textarea>
	<br><br>
	<label>Want to answer this question anonymously ?</label>
    <select name="anonymous">
		<option value="yes">YES</option>
		<option value="no">NO</option>
	</select>
	<br><br>
    <input type="hidden" name="id" value="{{ question.id }}">
	<button type="submit">SUBMIT</button>
    </form>
    <nav>
        <div class="topdiv">
            <pre><a href="{% url 'feed' %}" style="text-decoration: none;">Feed</a>  |    Hello, {{ user.username }}    |  <a href="{% url 'logout' %}" style="text-decoration: none;">LOGOUT</a></pre>
        </div>
    </nav> 
    <div class="rightdiv"> 
        <ul>
            <li><a href="{% url 'answer' %}" style="text-decoration: none;">Answer a question</a></li>
            <li><a href="{% url 'ask' %}" style="text-decoration: none;">Ask a question</a></li> 
        </ul> 
    </div> 
</body>
</html>